.list-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.book-item{
    display:inline-flex;
    flex-direction:column;
    justify-content: space-between;
    width: 230px;
    height: 400px;
    padding: 20px;
    border: black;
    border-radius: 5%;
    background-color: rgb(114, 174, 231);
    margin: 10px;
}
.img-style{
    align-self: center;
}
ul{
    list-style-type: none;
}
.suggestion-list{
    list-style: none;
    padding: 0;
    position: absolute;
    top:50%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.searchBar-wrapper{
    position:relative;
    display:flex;
    align-self: center;
    flex-direction: row;
    align-items: center;
}
.searchPage-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suggestion-item{
    border: 1px transparent rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding:3px;
    border-bottom: 1px gray solid;
    overflow:hidden;
}
.suggestion-item:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
}