.list-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.book-item{
    display:inline-flex;
    flex-direction:column;
    justify-content: space-between;
    width: 230px;
    height: 400px;
    padding: 20px;
    border: black;
    border-radius: 5%;
    background-color: rgb(114, 174, 231);
    margin: 10px;
}
.img-style{
    align-self: center;
}
ul{
    list-style-type: none;
}