.calendar {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  border: 1px solid black;
}

.month {
  grid-area: 1/2/2/-2;
  background:burlywood;
}
.item {
  border: 1px solid black;
  background: cornsilk;
  height: 70px;
}
.today{
    background-color: red;
}
