#app{
    display:grid;
    
    /* width:70%;
    height:400px;
    margin:auto;
    padding: 0px; */
    grid-template-columns: [first]50%,[second]50%;
    grid-template-rows:80%,20%
    
}
 .inventory-container{
    grid-area:1/1/1/1;
    display:flex;
    flex-direction:column;
    min-height: 100%;
    width: 100%;
    align-items: center;
    margin:auto;
    
}
.cart-container{
    grid-area:1/2/2/2;
    display:flex;
    flex-direction:column;
    min-height: 100%;
    width: 100%;
    align-items: center;
    margin:auto;
    
}

h1 {
    text-align: center;
  }

li{
    background-color: blanchedalmond;
    margin-top: 10px;
    display:flex;
    width: 100%;
    align-items: center;
    min-width: 100%;
    justify-content: space-evenly;

}
span{
    font-size: medium;
    gap:10px;
}
button{
    margin:10px;
    height:30px;
    font-size: 20px;
    border: 0;
    box-shadow: none;
    border-radius: 2px;
    min-width: 30px;
    
}
.minus-btn{
    background-color:rgb(182, 51, 51);
    
}
.add-btn{
    background-color:rgb(51, 177, 51);
}
.submit-btn,.delete-btn{
    background-color: rgb(67, 67, 255);
    color:white;
}
.cartList, .itemList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:80%;
    min-height: 80%;
}
.checkout-btn{
    grid-column: 2/3;
    grid-row: 2/3;
    display:block;
    background-color: black;
    color:white;
    width: 80%;
    justify-self: center;
    
}